<div class="section">
  <div class="top-footer">

    <!-- CONTACT -->

    <div class="contact">
      <div class="contact-title">
        Contact
      </div>
      <div class="address-phone">
        Café de Engelbewaarder<br>
        Kloveniersburgwal 59 HS<br>
        1011 JZ Amsterdam<br>
        020.625.37.72 <br>
      </div>
      <div class="email">cafedeengelbewaarder@gmail.com</div>
      
      <div class="social-media">
        <a
          class="instagram"
          href="https://www.instagram.com/cafedeengelbewaarder/"
          target="_blank">
          <img src="./../../../assets/images/instagram-logo-svg-vector-for-print.svg" alt="Istagram">
        </a>
        <span>
          <a
            class="facebook"
            href="https://www.facebook.com/cafedeengelbewaarder"
            target="_blank">
            <img src="./../../../assets/images/1200px-Facebook_icon.svg.png" alt="Facebook">
          </a>
        </span>
      </div>
    </div>

    <!-- OPENING HOURS -->

    <div class="opening-hours">
      <div class="opening-hours-title">
        <span *ngIf="language === 'dutch'">Openingstijden</span>
        <span *ngIf="language === 'english'">Opening Hours</span>
      </div>
      <div class="opening-hours-content">
        <div>
          <span *ngIf="language === 'dutch'">Wij zijn dagelijks geopend van</span>
          <span *ngIf="language === 'english'">We are opened daily from</span>
          {{openingHours.openingHoursOpen}}&nbsp;
          <span *ngIf="language === 'dutch'">tot</span>
          <span *ngIf="language === 'english'">until</span>
          &nbsp;{{openingHours.openingHoursClose}}
        </div>
        <div>
          <span *ngIf="language === 'dutch'">Op vrijdag en zaterdag van</span>
          <span *ngIf="language === 'english'">On fridays and saturdays from</span>

          {{openingHours.openingHoursWeekendOpen}}&nbsp;
          <span *ngIf="language === 'dutch'">tot</span>
          <span *ngIf="language === 'english'">until</span>
          &nbsp;{{openingHours.openingHoursWeekendClose}}
        </div>
        <div>Lunch: {{openingHours.lunch}}</div>
        <div>Snacks: {{openingHours.snacks}}</div>
        <span *ngIf="language === 'dutch'">Diner: {{openingHours.dinner}}</span>
        <span *ngIf="language === 'english'">Dinner: {{openingHours.dinner}}</span>
      </div>
    </div>

    <!-- JAZZENGEL-->

    <div class="jazzengel">
        <div class="jazzengel-title">
          <span *ngIf="language === 'dutch'">Jazz op zondag</span>
          <span *ngIf="language === 'english'">Jazz on Sundays</span>
        </div>
        <!-- <div class="jazzengel-content">
          <span *ngIf="language === 'dutch'">I.V.M Corona voorlopig geen jazzsession</span>
          <span *ngIf="language === 'english'">Sessions cancelled due to corona</span>
        </div> -->
        <p class="footer-section-content">
          Jazzengel jamt elke zondag van
          <span style="white-space:nowrap">16:30&nbsp;tot&nbsp;19:00</span>.<br>
          Ga naar de website van
          <a href="http://www.jazzengel.nl" rel="noreferrer" class="jazz-engel-link" target="_blank">JAZZENGEL</a>
          voor meer informatie en het programma.
        </p>
    </div>
  </div>

  <!-- BOTTOM FOOTER -->

  <div class="bottom-footer" fxLayout fxLayoutAlign="center">
 
      &copy; De Engelbewaarder 2020.
    
  </div>
</div>