<div class="body" mat-dialog-close>
  <div class="date" fxLayout fxLayoutAlign="center">
    <h4>27 APRIL KONINGSDAG</h4>
  </div>
  <div class="hours" fxLayout fxLayoutAlign="center">
    <h3>van 16:00 tot 18:00</h3></div>
  <div class="title" fxLayout="column" fxLayoutAlign="center center">
    <h2>JAZZENGEL</h2>
    <!-- <div class="royal-edition"> -->
      <h3> ROYAL EDITION</h3>
    <!-- </div> -->
  </div>
  <ul>
    <li fxLayout fxLayoutAlign="space-between"><span>Una Bergin</span><span>vocals</span> </li>
    <li  fxLayout fxLayoutAlign="space-between"><span>Laura Polence</span>  <span>vocals</span></li>
    <li  fxLayout fxLayoutAlign="space-between"><span>Lucas Figueiredo</span>  <span>sax</span></li>
    <li  fxLayout fxLayoutAlign="space-between"><span>Leo Bouwmeester</span>  <span>piano</span></li>
    <li  fxLayout fxLayoutAlign="space-between"><span>Jacko Schoonderwoerd</span>  <span>bas</span></li>
    <li  fxLayout fxLayoutAlign="space-between"><span>Victor de Boo</span>  <span></span>drums</li>
  </ul>
</div>