<div class="flags">
  <img class="flag" [ngClass]="{'language-selected': language === 'english'}" src="./../../assets/images/uk-flag.png" alt="" (click)="onSelectLanguage('english')"> 
  <img class="flag" [ngClass]="{'language-selected': language === 'dutch'}" src="./../../assets/images/nl-flag.png" alt="" (click)="onSelectLanguage('dutch')">
</div>

<div *ngIf="language ==='dutch'" class="container-dutch"
  
  fxLayout="column" fxLayoutGap="1rem">
  <div class="openingstijden">
    Wegens corona is het café tot 14 januari gesloten.
  </div>
  <!-- <div class="keuken">
    Onze keuken sluit om 19:00
  </div> -->
  <div class="snacks">
    <!-- Snacks & Lunch tot 17:00 -->
  </div>
  <div class="jazzengel">
    <!-- Voorlopig geen jazz op zondagmiddag. -->
  </div>
  <button 
    mat-raised-button
    mat-dialog-close>
    OK
  </button>
</div>

<div *ngIf="language === 'english'" class="container-english"
  fxLayout="column" fxLayoutGap="1rem">
  <div class="openingstijden">
    Due to corona, our café is closed until Januari 14th.
  </div>
  <!-- <div class="keuken">
    Our kitchen closes at 19:00
  </div> -->
  <div class="snacks">
    <!-- Snacks & Lunch untill 17:00 -->
  </div>
  <div class="jazzengel">
    <!-- No jazz on sunday afternoons. -->
  </div>
  <button 
    mat-raised-button
    mat-dialog-close>
    OK
  </button>
</div>