<div id="top"></div>
<section>
  <div class="background-image">
    <div class="banner">
      <p *ngIf="language === 'dutch'" class="banner-header">KEUKEN & DRANKEN</p>
      <p *ngIf="language === 'english'" class="banner-header">
        KITCHEN & DRINKS
      </p>
      <p *ngIf="language === 'dutch'" class="banner-course-name">Bieren</p>
      <p *ngIf="language === 'english'" class="banner-course-name">Beers</p>
      <p *ngIf="language === 'dutch'" class="banner-text-content">
        Wij hebben een unieke collectie bieren op de tap. <br />
        De bieren wisselen regelmatig buiten een aantal ‘vaste bieren’.
      </p>
      <p *ngIf="language === 'english'" class="banner-text-content">
        Wij hebben een unieke collectie bieren op de tap. <br />
        De bieren wisselen regelmatig buiten een aantal ‘vaste bieren’.
      </p>
    </div>
  </div>
</section>

<div class="beer-container">
  <div *ngFor="let beer of beers$ | async; let i = index" class="beer-accordion">
    <mat-accordion class="mat-accordion">
      <mat-expansion-panel class="mat-expansion-panel" hideToggle (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''">
        <mat-expansion-panel-header class="mat-expansion-panel-header">

          <mat-panel-title class="mat-panel-title">
            <div class="beer-item" fxLayout fxLayoutAlign="space-between"  fxLayoutGap=".5rem">
              <div class="container-edit-name" fxLayout fxLayoutGap=".5rem">
                <div class="container-edit-wrapper" fxLayout fxLayoutAlign="center center" fxLayoutGap=".5rem">
                  <div class="beer-edit" *ngIf="isAuthenticated$ | async"
                    (click)="onEditCategory(category)" fxLayout>
                    <fa-icon (click)="onEdit($event, beer)" [icon]="faEdit" class="edit-icon"></fa-icon>
                  </div>
                  <div class="beer-container" class="bottle-icon">
                    <fa-icon *ngIf="beer.draught" [icon]="faWineGlass"></fa-icon>
                    <fa-icon *ngIf="!beer.draught" [icon]="faWineBottle"></fa-icon>
                  </div>
                </div>
                <div class="beer-name">{{ beer.name }}</div>
              </div>
              <div class="price-list-trash-wrapper" fxLayout fxLayoutAlign="center center">
                <div class="price-list-trash" fxLayout fxLayoutGap=".5rem">
                  <div class="beer-price">{{ beer.price | currency: "EUR" }}</div>
                  <div *ngIf="isAuthenticated$ | async" class="beer-list">{{beer.listPosition}}</div>
                  <div class="chevrons" fxLayout="column" fxLayoutGap=".6rem">
                    <fa-icon 
                      [ngClass]="{'invalid-chevron': i === 0}"
                      
                      [icon]="faChevronLeft" 
                      (click)="onMoveBeer($event, 'up', beer)"
                      fxLayoutAlign="end" 
                      matTooltip="moves the dish up the list">
                    </fa-icon>
                    <fa-icon
                     
                      
                      [icon]="faChevronRight" 
                      fxLayoutAlign="end"
                      (click)="onMoveBeer($event, 'down', beer)" 
                      matTooltip="moves the dish down the list">
                    </fa-icon>
                  </div>
                  <div *ngIf="isAuthenticated$ | async" class="beer-trash" (click)="onDelete($event, beer)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </div>
                </div>
              </div>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="beer-description">
          <p *ngIf="language === 'dutch'">{{ beer.descriptionDutch }}</p>
          <p *ngIf="language === 'english'">{{ beer.descriptionEnglish }}</p>
          <p *ngIf="beer.content !== -1">content: {{ beer.content}} cl.</p>
          <p *ngIf="beer.percentage !== -1">alcohol: {{ beer.percentage}}%</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="isAuthenticated$ | async" class="button-container">
    <button class="add-beer" mat-raised-button (click)="onAddBeer()">ADD BEER</button>
  </div>
</div>