<div id="top"></div>
<section>
  <div class="background-image">
    <div class="banner">
      <p *ngIf="language === 'dutch'" class="banner-header">KEUKEN & DRANKEN</p>
      <p *ngIf="language === 'english'" class="banner-header">
        KITCHEN & DRINKS
      </p>
      <p *ngIf="language === 'dutch'" class="banner-course-name">Bieren</p>
      <p *ngIf="language === 'english'" class="banner-course-name">Beers</p>
      <p *ngIf="language === 'dutch'" class="banner-text-content">
        Wij hebben een unieke collectie bieren op de tap. <br />
        De bieren wisselen regelmatig buiten een aantal ‘vaste bieren’.
      </p>
      <p *ngIf="language === 'english'" class="banner-text-content">
        Wij hebben een unieke collectie bieren op de tap. <br />
        De bieren wisselen regelmatig buiten een aantal ‘vaste bieren’.
      </p>
    </div>
  </div>
</section>

<div class="beer-container">
  <div *ngFor="let beer of beers$ | async" class="beer-accordion">
    <mat-accordion class="mat-accordion">
      <mat-expansion-panel
        
        class="mat-expansion-panel"
        hideToggle
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''"
      >
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title
            class="mat-panel-title"
            fxLayout
            fxLayoutAlign="space-between">

            <div class="icon-name-price"
              fxLayout 
              fxLayoutAlign="space-between"
              (click)="onEdit($event, beer)">
              <div class="icon-name" fxLayout fxLayoutAlign="space-between">
                <div
                  *ngIf="!beer.draught"
                  class="bottle-icon"
                  fxLayout="column"
                  fxLayoutAlign="center">
                  <fa-icon [icon]="faWineBottle"></fa-icon>
                </div>
                <div
                  *ngIf="beer.draught"
                  class="glass-icon"
                  fxLayout="column"
                  fxLayoutAlign="center">
                  <fa-icon [icon]="faWineGlass"></fa-icon>
                </div>
                <div class="beer-name">{{ beer.name }}</div>
              </div>
              <div class="beer-price">{{ beer.price | currency: "EUR" }}</div>
            </div>

            <div *ngIf="isAuthenticated$ | async" class="list-trash" fxLayout fxLayoutGap="0.3rem">
              <div class="list-position">{{beer.listPosition}}</div>
              <div class="trash" (click)="onDelete($event, beer)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </div>
            </div>
            <!-- <button 
              *ngIf="isAuthenticated$ | async"
              (click)="onEdit(beer)">
              EDIT
            </button> -->
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="beer-description">
          <p *ngIf="language === 'dutch'">{{ beer.descriptionDutch }}</p>
          <p *ngIf="language === 'english'">{{ beer.descriptionEnglish }}</p>
          <p>content: {{ beer.amount }} cl.</p>
          <p>alcohol: {{ beer.percentage }}%</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="isAuthenticated$ | async" class="button-container">
    <button class="add-beer" mat-raised-button (click)="onAddBeer()">ADD BEER</button>
  </div>
</div>

<!-- <div class="add-beer">
  <div>
    <mat-accordion class="mat-accordion">
      <mat-expansion-panel
        class="mat-expansion-panel"
        hideToggle
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title
            class="mat-panel-title"
          >
          Add beer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="beer-description">
          <form
            fxLayout="column"
            [formGroup]="addBeerForm"
            (ngSubmit)="submit()"
          >
            <mat-form-field>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="NAME"
              />
            </mat-form-field>

            <mat-radio-group formControlName="draught" fxLayout fxLayoutGap="20px">
              <mat-radio-button [value]="true">
                <div 
                  class="glass-icon" 
                  fxLayout="column" 
                  fxLayoutAlign="center">
                <fa-icon [icon]="faWineGlass"></fa-icon>
              </div></mat-radio-button>
              <mat-radio-button [value]="false">
                <div
                  class="bottle-icon"
                  fxLayout="column"
                  fxLayoutAlign="center"
                >
                  <fa-icon [icon]="faWineBottle"></fa-icon>
                </div>
              </mat-radio-button>
            </mat-radio-group>
            <hr>
            <mat-form-field>
              <input
                type="number"
                matInput
                formControlName="price"
                placeholder="PRIJS"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                formControlName="content"
                placeholder="INHOUD / CL"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                formControlName="percentage"
                placeholder="ALCOHOLPERCENTAGE / %"
              />
            </mat-form-field>
            <mat-form-field>
              <textarea
                type="text"
                matInput
                formControlName="descriptionDutch"
                placeholder="BESCHRIJVING NEDERLANDS"
              >
              </textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea
                type="text"
                matInput
                formControlName="descriptionEnglish"
                placeholder="BESCHRIJVING ENGELS"
              ></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="addBeerForm.invalid">
              SUBMIT
            </button>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div> -->
