.image-form-container {
    border: 2px solid pink;
    padding: 1rem;
    .file-input {
    }
    .preview-container {
        width: 100px;
        .preview {
            width: 100%;
        }
    }
}
