:root {
  --text-color-orange: #d37d1b;
  --text-color-bright-orange: #fcd19f;
  
  // --header-blue: green;
  --header-blue: #243956;
  --footer-light-brown: #996940;
  --exhibition-background: #ccc;
}