* {
  color: var(--text-color-bright-orange)
}
.container {
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--header-blue);
  .name{
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .description{}
  .percentage{}
  .window-close {
    font-size: 1.6rem;
  }
}