<form fxLayout="column" [formGroup]="addBeerForm">

  <mat-form-field *ngIf="editMode" style="display: none;">
    <input type="text" matInput formControlName="beerId" placeholder="ID" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput formControlName="name" placeholder="NAME" />
  </mat-form-field>

  <mat-radio-group formControlName="draught" fxLayout fxLayoutGap="20px">
    <mat-radio-button [value]="true">
      <div class="glass-icon" fxLayout="column" fxLayoutAlign="center">
        <fa-icon [icon]="faWineGlass"></fa-icon></div
    ></mat-radio-button>
    <mat-radio-button [value]="false">
      <div class="bottle-icon" fxLayout="column" fxLayoutAlign="center">
        <fa-icon [icon]="faWineBottle"></fa-icon>
      </div>
    </mat-radio-button>
  </mat-radio-group>

  <hr />
  <mat-form-field>
    <input 
      type="number" 
      matInput 
      formControlName="price" 
      placeholder="PRIJS" />
  </mat-form-field>
  <mat-form-field>
    <input
      type="number"
      matInput
      formControlName="amount"
      placeholder="INHOUD / CL"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      type="number"
      matInput
      formControlName="percentage"
      placeholder="ALCOHOLPERCENTAGE / %"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      type="number"
      matInput
      formControlName="listPosition"
      placeholder="LIST POSITION"
    />
  </mat-form-field>

  <mat-form-field>
    <textarea
      type="text"
      matInput
      formControlName="descriptionDutch"
      placeholder="BESCHRIJVING NEDERLANDS"
    >
    </textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea
      spellcheck="off"
      type="text"
      matInput
      formControlName="descriptionEnglish"
      placeholder="BESCHRIJVING ENGELS"
    ></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="addBeerForm.invalid"
    [mat-dialog-close]="{purpose: 'save changes', formValue: addBeerForm.value}"
  >
    {{editMode ? "SAVE CHANGES" : "ADD"}}
  </button>
  <!-- <button
    *ngIf="editMode"
    mat-raised-button
    color="warn"
    type="submit"
    [disabled]="addBeerForm.invalid"
    [mat-dialog-close]="{purpose: 'delete', formValue: addBeerForm.value}"
  >
    DELETE
  </button> -->
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="addBeerForm.invalid"
    [mat-dialog-close]="addBeerForm.value"
  >
    CANCEL
  </button>
</form>
