<section>
  <div class="background-image">
    <div class="banner">
      <p *ngIf="language === 'dutch'" class="banner-header">KEUKEN & DRANKEN</p>
      <p *ngIf="language === 'english'" class="banner-header">KITCHEN & DRINKS</p>

      <div *ngIf="linkSelected ==='dinner'" class="link-selected">
        <p *ngIf="language === 'dutch'" class="banner-course-name">Diner</p>
        <p *ngIf="language === 'english'" class="banner-course-name">Dinner</p>
      </div>

      <div *ngIf="linkSelected ==='lunch'" class="link-selected">
        <p class="banner-course-name">Lunch</p>
      </div>
      <div *ngIf="linkSelected ==='snacks'" class="link-selected">
        <p class="banner-course-name">Snacks</p>
      </div>


      <p *ngIf="language === 'dutch'" class="banner-text-content">De keuken is 7 dagen per week geopend.<br>
        Lunch: {{openingHours.lunch}}<br>
        Diner: {{openingHours.dinner}}<br>
        Snacks: {{openingHours.snacks}}
      </p>
      <p *ngIf="language === 'english'" class="banner-text-content">Our kitchen is opened 7 days a week.<br>
        Lunch: {{openingHours.lunch}}<br>
        Dinner: {{openingHours.dinner}}<br>
        Snacks: {{openingHours.snacks}}
    </div>
  </div>
</section>

<div class="courses">
  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('starter')">
      add starter
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'">voorgerechten</span>
      <span *ngIf="language === 'english'">starters</span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let starter of starters$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(starter)">
            <div class="name" *ngIf="language === 'dutch'">{{starter.nameDutch}}</div>
            <div class="name" *ngIf="language === 'english'">{{starter.nameEnglish}}</div>
            <div class="price">{{starter.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{starter.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, starter)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(starter)">
          <span *ngIf="language === 'dutch'">{{starter.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{starter.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('meats')">
      add meat
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'">meat</span>
      <span *ngIf="language === 'english'">vlees</span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let meat of meats$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(meat)">
            <div class="name" *ngIf="language === 'dutch'">{{meat.nameDutch}}</div>
            <div class="name" *ngIf="language === 'english'">{{meat.nameEnglish}}</div>
            <div class="price">{{meat.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{meat.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, meat)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(meat)">
          <span *ngIf="language === 'dutch'">{{meat.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{meat.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('fishes')">
      add fish
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'">vis</span>
      <span *ngIf="language === 'english'">fish</span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let fish of fishes$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(fishes)">
            <div class="name" *ngIf="language === 'dutch'">{{fish.nameDutch}}</div>
            <div class="name" *ngIf="language === 'english'">{{fish.nameEnglish}}</div>
            <div class="price">{{fish.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{fish.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, fish)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(fish)">
          <span *ngIf="language === 'dutch'">{{fish.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{fish.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('vegas')">
      add vega
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'">vegetarish</span>
      <span *ngIf="language === 'english'">vegetarian</span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let vega of vegas$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(vegas)">
            <div class="name" *ngIf="language === 'dutch'">{{vega.nameDutch}}</div>
            <div class="name" *ngIf="language === 'english'">{{vega.nameEnglish}}</div>
            <div class="price">{{vega.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{vega.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, vega)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(vega)">
          <span *ngIf="language === 'dutch'">{{vega.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{vega.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('desserts')">
      add dessert
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'">dessert</span>
      <span *ngIf="language === 'english'">dessert</span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let dessert of desserts$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(desserts)">
            <div class="name" *ngIf="language === 'dutch'">{{dessert.nameDutch}}</div>
            <div class="name" *ngIf="language === 'english'">{{dessert.nameEnglish}}</div>
            <div class="price">{{dessert.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{dessert.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, dessert)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(dessert)">
          <span *ngIf="language === 'dutch'">{{dessert.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{dessert.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

</div>
