@import "./../../shared/css/banner.scss";

.edit-mode {
  border: 3px solid red;
  padding: 10px;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 60%;
  height: 70vh;

  @media (max-width: 480px) {
    background-image: url("./../../../assets/consumptions/food/images/bar-en-achter-480.jpg");
  }

  @media (min-width: 481px) and (max-width: 767px) {
    background-image: url("./../../../assets/consumptions/food/images/bar-en-achter-767.jpg");
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    background-image: url("./../../../assets/consumptions/food/images/bar-en-achter-1024.jpg");
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    background-image: url("./../../../assets/consumptions/food/images/bar-en-achter-1280.jpg");
  }

  @media (min-width: 1281px) {
    background-image: url("./../../../assets/consumptions/food/images/bar-en-achter-1280.jpg");
  }
}
.courses {
  .first-list {
    // border: 1px solid red;
    padding: 0;
    margin: 0.5rem;
    li {
      .add-course {
        margin-bottom: .5rem;
      }
      .courses-list {
        // border: 2px solid black;
        .edit-name-list-trash__list-item {
          background-color: var(--header-blue);
          padding: 1rem;
          .edit-name__list-trash {
            // min-width: 350px;
            text-transform: uppercase;
            margin-bottom: 1rem;
            
            // border: 1px solid blue;
            .edit-name {
              // border: 1px solid green;
              .edit {
                color: white;
              }
              .name {
                // border-bottom: 1px solid var(--text-color-orange);
                // color: var(--text-color-bright-orange);
                color: white;
                font-size: 1.2rem;
              }            
            }
            .list-trash {
              .list {
                padding: 0 .2rem;
                background-color: lightgreen;
                
              }
              .trash {
                color: red;
              }
            }
          }
          .food-item-list {
            // border: 3px solid white;
            .food-item-list-item {
              .food-item {
                .edit-name-ingredients {
                  .edit-food-item {
                    color: white;
                  }
                  .name-ingredients {
                    // border: 1px solid red;
                    color: var(--text-color-bright-orange);
                    .food-item-name {
                      text-transform: uppercase;
                      margin-bottom: .3rem;
                      .amount {
                        padding-left: .5rem;
                        // border: 1px solid lightgreen;
                        color: var(--text-color-bright-orange)
                      }
                    }
                    .ingredients {
                      padding-left: 1rem;
                      font-size: .8rem;
                      text-transform: lowercase;
                    }
                  }
                }
                .price-list-trash {
                  // border: 1px solid pink;
                  .price {
                    color: var(--text-color-bright-orange)
                  }
                  .list {
                    padding: 0 .2rem;
                    color: lightgreen;
                  }
                  .trash {
                    color: red;
                  }
                }
              }
            }
            .hr {
              hr {
                width: 80%;
                opacity: .2;
              }
            }
          }
        }
      }
      .remark {
        color: white;
        margin-bottom: .5rem;
      }
    }
  }
}

.courses-list {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  // border: 5px solid var(--text-color-orange);
  // border: 10px solid green;

  // background-color: var(--text-color-orange);
  @media (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1025px) and (max-width: 1399px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
