@import "./../../shared/css/banner.scss";
// @import './../../shared/css/food.css';

.background-image {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  height: 70vh;
  @media (max-width: 481px) {
    background-image: url("./../../../assets/consumptions/drinks/images/engel-bar-2-1-481.jpg");
  }
  @media (min-width: 481px) and (max-width: 767px) {
    background-image: url("./../../../assets/consumptions/drinks/images/engel-bar-2-1-767.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("./../../../assets/consumptions/drinks/images/engel-bar-2-1-1024.jpg");
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    background-image: url("./../../../assets/consumptions/drinks/images/engel-bar-2-1-1280.jpg");
  }
  @media (min-width: 1281px) {
    background-image: url("./../../../assets/consumptions/drinks/images/engel-bar-2-1-1280.jpg");
  }
}



.main-list {
  margin: 0;
  padding: .5rem;
  // padding: .1rem;

  .add-category {
    margin-bottom: .5em;
  }
  .all-drinks {
    // padding: 1rem;
    .category-list {
      .category-list-item {
        // min-width: 300px;
        // display: flex;
        padding: 1rem;
        background-color: var(--header-blue);
        color: var(--text-color-bright-orange);
        // text-transform: uppercase;
        .category {
          margin-bottom: 1rem;
          .edit-name {
            .edit{
              color: yellow;
            }
            .category-name {
              text-transform: uppercase;
              color: white;
            }
          }
          .list-trash {
            .chevrons {
              fa-icon {
                color: yellow;
              }
            }
            .list{
              background-color: lightgreen;
              color: var(--header-blue);
              padding: 0 .2rem;
            }
            .trash {
              color: red
            }
          }
        }
        .drink-list {
          .drink-list-item {

            .drink {
              // border: 1px solid pink;
              .edit-name {
                // border: 1px solid red;
                .edit {
                  color: white;
                }
                .name {
                  // border: 1px solid pink;
                  padding-left: 1rem;
                  text-indent: -1rem;
                }
                .type {
                  // margin-right: .5rem;
                  font-size: .8rem;
                }
                .container {

                }
              }
              .price-list-trash {
                // border: 1px solid lightgreen;
                padding-left: .5rem;
                .chevrons {
                  fa-icon {
                    color: white;
                  }
                }
                .price {}
                .list{
                  color: lightgreen
                }
                .trash {
                  color: red;
                }
              }
            }
            .hr {
              hr {
                opacity: .3;
                width: 80%
              }
              
            }
            // border: 1px solid red;
          }
        }
      }
    }
  }
}
  
.red-circle {
  color: red;
}
.white-circle {
  color: white;
}


.lists {
  display: grid;
  grid-column-gap: .5rem;
  grid-row-gap: 0.5rem;
  
  @media (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1281px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
