<section>
  <div class="background-image">
    <div class="banner">
      <p *ngIf="language === 'dutch'" class="banner-header">KEUKEN & DRANKEN</p>
      <p *ngIf="language === 'english'" class="banner-header">
        KITCHEN & DRINKS
      </p>
      <p *ngIf="language === 'dutch'" class="banner-course-name">Dranken</p>
      <p *ngIf="language === 'english'" class="banner-course-name">Drinks</p>
      <p *ngIf="language === 'dutch'" class="banner-text-content">
        De keuken is 7 dagen per week geopend.<br />
        Lunch: {{ openingHours.lunch }}<br />
        Dinner: {{ openingHours.dinner }}<br />
        Snacks: {{ openingHours.snacks }}
      </p>
      <p *ngIf="language === 'english'" class="banner-text-content">
        Our kitchen is opened 7 days a week.<br />
        Lunch: {{ openingHours.lunch }}<br />
        Diner: {{ openingHours.dinner }}<br />
        Snacks: {{ openingHours.snacks }}
      </p>
    </div>
  </div>
</section>


<ul class="main-list">
  <li *ngFor="let drink of drinks$ | async" class="all-drinks">
    <button *ngIf="isAuthenticated$ | async" class="add-category" mat-raised-button (click)="onAddCategory()">add
      category</button>
    <ul class="category-list">
      <div class="lists">
        <li class="category-list-item" *ngFor="let category of drink.categories">
          <div class="category" fxLayout fxLayoutAlign="space-between">
            <div class="edit-name" fxLayout fxLayoutGap=".5rem">
              <fa-icon *ngIf="isAuthenticated$ | async" class="edit" (click)="onEditCategory(category)" [icon]="faEdit">
              </fa-icon>
              <div *ngIf="language === 'dutch'" class="category-name">{{category.nameDutch}}</div>
              <div *ngIf="language === 'english'" class="category-name">{{category.nameEnglish}}</div>
            </div>
            <div class="list-trash" fxLayout fxLayoutGap=".5rem" *ngIf="isAuthenticated$ | async">
              <div class="list">{{category.listPosition}}</div>
              <fa-icon class="trash" (click)="onDeleteCategory(category.id)" [icon]="faTrash"></fa-icon>
            </div>
          </div>

          <ul class="drink-list">
            <li *ngFor="let drink of category.drinks" class="drink-list-item">
              <div class="drink" fxLayoutAlign="space-between">

                <div class="edit-name" fxLayout fxLayoutGap=".5rem">
                  <fa-icon *ngIf="isAuthenticated$ | async" class="edit" (click)="onEditDrink(category, drink)"
                    [icon]="faEdit"></fa-icon>
                  <div *ngIf="language === 'dutch'" class="name">
                    {{drink.nameDutch}}
                    <fa-icon [ngClass]="drink.wineType === 'red' ? 'red-circle' : 'white-circle'" *ngIf="drink.wineType" class="type" [icon]="faCircle"></fa-icon>
                  </div>
                  <div *ngIf="language === 'english'" class="name">
                    {{drink.nameEnglish}}
                    <fa-icon [ngClass]="drink.wineType === 'red' ? 'red-circle' : 'white-circle'" *ngIf="drink.wineType" class="type" [icon]="faCircle"></fa-icon>
                  </div>

                  <fa-icon *ngIf="drink.wineContainer ==='bottle'"  class="container" [icon]="faWineBottle"></fa-icon>
                  <fa-icon *ngIf="drink.wineContainer ==='glass'" class="container" [icon]="faWineGlass"></fa-icon>
                    
                </div>
                <div class="price-list-trash" fxLayout="column" fxLayoutGap=".5rem">
                  <div class="price" fxLayoutAlign="end">{{drink.price | currency:"EUR"}}</div>
                  <div *ngIf="isAuthenticated$ | async" class="list" fxLayoutAlign="end">{{drink.listPosition}}</div>
                  <fa-icon *ngIf="isAuthenticated$ | async" fxLayoutAlign="end" class="trash"
                    (click)="onDeleteDrink(category.id, drink.id)" [icon]="faTrash"></fa-icon>
                </div>
              </div>
              <div class="hr">
                <hr>
              </div>

            </li>
          </ul>
          <button *ngIf="isAuthenticated$ | async" mat-raised-button (click)="onAddDrink(category.id, category.nameEnglish)">add
            drink</button>
        </li>
      </div>
    </ul>
  </li>
</ul>