<section>
  <div class="background-image">
    <div class="banner">
      <p *ngIf="language === 'dutch'" class="banner-header">KEUKEN & DRANKEN</p>
      <p *ngIf="language === 'english'" class="banner-header">KITCHEN & DRINKS</p>

      <div *ngIf="linkSelected ==='dinner'" class="link-selected">
        <p *ngIf="language === 'dutch'" class="banner-course-name">Diner</p>
        <p *ngIf="language === 'english'" class="banner-course-name">Dinner</p>
      </div>

      <div *ngIf="linkSelected ==='lunch'" class="link-selected">
        <p class="banner-course-name">Lunch</p>
      </div>
      <div *ngIf="linkSelected ==='snacks'" class="link-selected">
        <p class="banner-course-name">Snacks</p>
      </div>


      <p *ngIf="language === 'dutch'" class="banner-text-content">De keuken is 7 dagen per week geopend.<br>
        Lunch: {{openingHours.lunch}}<br>
        Diner: {{openingHours.dinner}}<br>
        Snacks: {{openingHours.snacks}}
      </p>
      <p *ngIf="language === 'english'" class="banner-text-content">Our kitchen is opened 7 days a week.<br>
        Lunch: {{openingHours.lunch}}<br>
        Dinner: {{openingHours.dinner}}<br>
        Snacks: {{openingHours.snacks}}
    </div>
  </div>
</section>
<!-- {{newDinner$ | async | json}} -->
<div class="courses">
  <button mat-raised-button (click)="onSelectSnacks()">select 'snacks'</button>
  <button mat-raised-button (click)="onSelectLunch()">select 'lunch'</button>
  <button mat-raised-button (click)="onSelectDinner()">select 'dinner'</button>
  <ul class="first-list">
    <li *ngFor="let dinner of dinner$ | async">
      <!-- <div class="">DINNER: {{dinner.name | json}}</div> -->
      <button  *ngIf="isAuthenticated$ | async"  class="add-course" mat-raised-button (click)="onAddCourse()">add course</button>
      <ul class="courses-list">
        <li fxLayout="column"  class="edit-name-list-trash__list-item" *ngFor="let course of dinner.courses">
          <div class="edit-name__list-trash" fxLayout  fxLayoutAlign="space-between">
            <div class="edit-name" fxLayout fxLayoutGap=".5rem">
              <fa-icon *ngIf="isAuthenticated$ | async" class="edit" [icon]="faEdit" (click)="onEditCourse(
                      course.id, 
                      course.nameDutch, 
                      course.nameEnglish,
                      course.remarkDutch,
                      course.remarkEnglish, 
                      course.listPosition
                    )">
              </fa-icon>
              <div *ngIf="language ==='dutch'" class="name">{{ course.nameDutch}}</div>
              <div *ngIf="language ==='english'" class="name">{{ course.nameEnglish}}</div>
            </div>
            <div  *ngIf="isAuthenticated$ | async"  class="list-trash" fxLayout fxLayoutGap="1rem">
              <div class="list">{{course.listPosition}}</div>
              <fa-icon class="trash" (click)="onDeleteCourse(course.id)" [icon]="faTrash"></fa-icon>
            </div>
          </div>
          
          <ul class="food-item-list" *ngIf="course.foodItems">
            <li class="food-item-list-item" *ngFor="let foodItem of course.foodItems">
              <div fxLayout fxLayoutAlign="space-between" class="food-item" fxLayout>
                <div class="edit-name-ingredients" fxLayout fxLayoutGap=".5rem">
                  <div *ngIf="isAuthenticated$ | async" class="edit-food-item" (click)="onEditFoodItem(course.id, foodItem)">
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </div>
                  <div class="name-ingredients" *ngIf="language === 'dutch'">
                    <div class="food-item-name">{{foodItem.nameDutch}}</div>
                    <div class="ingredients">{{foodItem.ingredientsDutch}}</div>
                  </div>
                  <div class="name-ingredients" *ngIf="language ==='english'">
                    <div class="food-item-name">{{foodItem.nameEnglish}}</div>
                    <div class="ingredients">{{foodItem.ingredientsEnglish}}</div>
                  </div>
                </div>
                <div class="price-list-trash" fxLayout="column" fxLayoutGap=".5rem">
                  <div fxLayout fxLayoutAlign="end" class="price">{{foodItem.price | currency:"EUR"}}</div>
                  <div  *ngIf="isAuthenticated$ | async"  fxLayout fxLayoutAlign="end" class="list">{{foodItem.listPosition}}</div>
                  <div  *ngIf="isAuthenticated$ | async"  (click)="onDeleteFoodItem('dinner', course.id, foodItem.id)" fxLayout fxLayoutAlign="end"
                    fxLayoutGap="1rem" class="trash">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="hr">
                <hr>
              </div>
            </li>
          </ul>
          <div *ngIf="language === 'dutch'" class="remark">{{course.remarkDutch}}</div>
          <div *ngIf="language === 'english'" class="remark">{{course.remarkEnglish}}</div>
          <button
            mat-raised-button
            *ngIf="isAuthenticated$ | async" 
            (click)="onAddFoodItem(dinner.name, course.id, course.nameDutch, course.nameEnglish)">
            add fooditem
          </button>
        </li>
      </ul>
    </li>
  </ul>
</div>