<section>
  <div class="background-image">
    <div class="banner">
      <p *ngIf="language === 'dutch'" class="banner-header">KEUKEN & DRANKEN</p>
      <p *ngIf="language === 'english'" class="banner-header">KITCHEN & DRINKS</p>

      <div *ngIf="linkSelected ==='dinner'" class="link-selected">
        <p *ngIf="language === 'dutch'" class="banner-course-name">Diner</p>
        <p *ngIf="language === 'english'" class="banner-course-name">Dinner</p>
      </div>

      <div *ngIf="linkSelected ==='lunch'" class="link-selected">
        <p class="banner-course-name">Lunch</p>
      </div>
      <div *ngIf="linkSelected ==='snacks'" class="link-selected">
        <p class="banner-course-name">Snacks</p>
      </div>


      <p *ngIf="language === 'dutch'" class="banner-text-content">De keuken is 7 dagen per week geopend.<br>
        Lunch: {{openingHours.lunch}}<br>
        Diner: {{openingHours.dinner}}<br>
        Snacks: {{openingHours.snacks}}
      </p>
      <p *ngIf="language === 'english'" class="banner-text-content">Our kitchen is opened 7 days a week.<br>
        Lunch: {{openingHours.lunch}}<br>
        Dinner: {{openingHours.dinner}}<br>
        Snacks: {{openingHours.snacks}}
    </div>
  </div>
</section>

<!-- {{newDinner$ | async | json}} -->
<div class="courses" fxLayout="column">
  <ul>
    <li *ngFor="let dinner of newDinner$ | async">DINNER: {{dinner.name | json}}
      <button class="add-course" mat-raised-button (click)="onAddCourse('dinner')">add course</button>
      <hr>
      <ul class="courses-list" fxLayout fxLayoutGap="1rem">
        <li fxLayout="column" fxLayoutGap="1rem" class="course" *ngFor="let course of dinner.courses">
          <div class="name-delete">
            {{course.name}} - {{course.id}}
            <button mat-raised-button (click)="onDeleteCourse(dinner.name, course.id)"><fa-icon [icon]="faTrash"></fa-icon></button>
          </div>
          <div class="delete-add-course" fxLayout fxLayoutAlign="space-between" >
            <button mat-raised-button (click)="onAddFoodItem(dinner.name, course.id, course.name)">add fooditem</button>
          </div>
          <ul class="food-item-list">
            <li  class="food-item" *ngFor="let foodItem of course.foodItems">
              <div fxLayout fxLayoutAlign="space-between" class="foodItem" fxLayout>
                <div (click)="onEditFoodItem('dinner', course.id, foodItem)" class="name-ingredients">
                  <div class="name">{{foodItem.nameDutch}}</div>
                  <div class="ingredients">{{foodItem.ingredientsDutch}}</div>
                </div>
                <div class="price-list-trash" fxLayout="column" fxLayoutGap=".5rem">
                  <div fxLayout fxLayoutAlign="end" class="price">{{foodItem.price | currency:"EUR"}}</div>
                  <div fxLayout fxLayoutAlign="end" class="list">1</div>
                  
                  <div
                    (click)="onDeleteFoodItem('dinner', course.id, foodItem.id)"
                    fxLayout 
                    fxLayoutAlign="end" 
                    class="trash">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="hr">
                <hr>
              </div>
            </li>
            <hr>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>