@import "./styles/variables";
@import "./styles/mixins";

* {
    box-sizing: border-box;
    letter-spacing: 1.2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}
.panelClass {
    width: 100vw;
    max-width: 350px;
    height: 100vh;
}
.full-size-image .mat-dialog-container {
    padding: 0;
}

.inside-outside-dialog .mat-dialog-container {
    padding: 0;
    border: 3px solid var(--text-color-orange);
    
    // max-width: 400px;
    // min-width: 310px;
}

.panelClassFailure {
    border: 10px solid red;
}
.panelClassSuccess {
    border: 10px solid lightgreen;
}

.kingsday .mat-dialog-container {
    border-color: var(--text-color-orange !important);
}

button {
    text-transform: uppercase;
}

.dialog-dimensions .mat-dialog-container {
    width: 100vw !important;
    max-width: 400px;
    max-height: 95vh;
    padding: 0;
    border: 5px solid var(--text-color-orange);
    // border-radius: 0px !important;
}
