
<section>
  <div class="background-image">
    <div class="banner">
      <p *ngIf="language === 'dutch'" class="banner-header">KEUKEN & DRANKEN</p>
      <p *ngIf="language === 'english'" class="banner-header">KITCHEN & DRINKS</p>

      <div *ngIf="linkSelected ==='dinner'" class="link-selected">
        <p *ngIf="language === 'dutch'" class="banner-course-name">Diner</p>
        <p *ngIf="language === 'english'" class="banner-course-name">Dinner</p>
      </div>

      <div *ngIf="linkSelected ==='lunch'" class="link-selected">
        <p class="banner-course-name">Lunch</p>
      </div>
      <div *ngIf="linkSelected ==='snacks'" class="link-selected">
        <p class="banner-course-name">Snacks</p>
      </div>


      <p *ngIf="language === 'dutch'" class="banner-text-content">De keuken is 7 dagen per week geopend.<br>
        Lunch: {{openingHours.lunch}}<br>
        Diner: {{openingHours.dinner}}<br>
        Snacks: {{openingHours.snacks}}
      </p>
      <p *ngIf="language === 'english'" class="banner-text-content">Our kitchen is opened 7 days a week.<br>
        Lunch: {{openingHours.lunch}}<br>
        Dinner: {{openingHours.dinner}}<br>
        Snacks: {{openingHours.snacks}}
    </div>
  </div>
</section>

<div class="courses">

  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('smalls')">
      add small snack
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'"></span>
      <span *ngIf="language === 'english'"></span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let small of smalls$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price-amount" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(small)">
            <div class="name-amount">
              <div class="name" *ngIf="language === 'dutch'">{{small.nameDutch}}</div>
              <div class="name" *ngIf="language === 'english'">{{small.nameEnglish}}</div>
            </div>
            <div class="price">{{small.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{small.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, small)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(small)">
          <span *ngIf="language === 'dutch'">{{small.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{small.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('omabobs')">
      add omabob snack
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'">SNACKS VAN OMA BOBS</span>
      <span *ngIf="language === 'english'">SNACKS FROM OMA BOBS</span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let omabob of omabobs$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price-amount" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(omabob)">
            <div class="name-amount" fxLayout fxLayoutAlign="space-between">
              <div class="name" *ngIf="language === 'dutch'">{{omabob.nameDutch}}</div>
              <div class="name" *ngIf="language === 'english'">{{omabob.nameEnglish}}</div>
              <div class="amount" *ngIf="omabob.amount" >({{omabob.amount}})</div>
            </div>
            <div class="price">{{omabob.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{omabob.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, omabob)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(omabob)">
          <span *ngIf="language === 'dutch'">{{omabob.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{omabob.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('otherSnacks')">
      add otherSnack
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'"></span>
      <span *ngIf="language === 'english'"></span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let otherSnack of otherSnacks$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price-amount" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(otherSnack)">
            <div class="name-amount" fxLayout>
              <div class="name" *ngIf="language === 'dutch'">{{otherSnack.nameDutch}}</div>
              <div class="name" *ngIf="language === 'english'">{{otherSnack.nameEnglish}}</div>
            </div>
            <div *ngIf="otherSnack.amount" class="amount">({{otherSnack.amount}})</div>
            <div class="price">{{otherSnack.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{otherSnack.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, otherSnack)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(otherSnack)">
          <span *ngIf="language === 'dutch'">{{otherSnack.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{otherSnack.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <div class="course" fxLayout="column">
    <button *ngIf="isAuthenticated$ | async" mat-raised-button class="add-course" (click)="onAddFoodItem('sweetSnacks')">
      add sweetSnack
    </button>
    <div class="course-name">
      <span *ngIf="language === 'dutch'"></span>
      <span *ngIf="language === 'english'"></span>
    </div>
    <ul>
      <li [ngClass]="(isAuthenticated$ | async) ? 'edit-mode' : ''" *ngFor="let sweetSnack of sweetSnacks$ | async">
        <div class="name-price-list-position-delete" fxLayout fxLayoutAlign="space-between">
          <div class="name-price-amount" fxLayout fxLayoutAlign="space-between" (click)="onEditFoodItem(sweetSnack)">
            <div class="name-amount" fxLayout>
              <div class="name" *ngIf="language === 'dutch'">{{sweetSnack.nameDutch}}</div>
              <div class="name" *ngIf="language === 'english'">{{sweetSnack.nameEnglish}}</div>
            </div>
            <div *ngIf="sweetSnack.amount"  class="amount">({{sweetSnack.amount}})</div>
            <div class="price">{{sweetSnack.price | currency:"EUR"}}</div>
          </div>
          <div *ngIf="isAuthenticated$ | async" class="list-position-delete" fxLayout>
            <div class="list-position">{{sweetSnack.listPosition}}</div>
            <div class="delete" (click)="onDelete($event, sweetSnack)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
          </div>
        </div>
        <div class="ingredients" (click)="onEditFoodItem(sweetSnack)">
          <span *ngIf="language === 'dutch'">{{sweetSnack.ingredientsDutch}}</span>
          <span *ngIf="language === 'english'">{{sweetSnack.ingredientsEnglish}}</span>
        </div>
        <hr>
      </li>
    </ul>
  </div>


</div>
